---
layout: default
---

<div class="main-content">
    {% capture formula1_1 %}{% include formula1_1.md %}{% endcapture %}
    {{ formula1_1 | markdownify }}
</div>

<div class="main-content" style="margin-top: 4rem">
    {% capture formula1_2 %}{% include formula1_2.md %}{% endcapture %}
    {{ formula1_2 | markdownify }}
</div>

<div class="main-content" style="margin-top: 4rem">
    {% capture formula1_3 %}{% include formula1_3.md %}{% endcapture %}
    {{ formula1_3 | markdownify }}
</div>

<div class="main-content" style="margin-top: 4rem">
    {% capture formula1_4 %}{% include formula1_4.md %}{% endcapture %}
    {{ formula1_4 | markdownify }}
</div>