---
layout: default
---
<div class="main-content">
    {% capture reconstruction_1 %}{% include reconstruction_1.md %}{% endcapture %}
    {{ reconstruction_1 | markdownify }}
</div>

<div class="main-content" style="margin-top: 4rem">
    {% capture reconstruction_2 %}{% include reconstruction_2.md %}{% endcapture %}
    {{ reconstruction_2 | markdownify }}
</div>

<div class="main-content" style="margin-top: 4rem">
    {% capture reconstruction_3 %}{% include reconstruction_3.md %}{% endcapture %}
    {{ reconstruction_3 | markdownify }}
</div>


<div class="main-content" style="margin-top: 4rem">
    {% capture reconstruction_4 %}{% include reconstruction_4.md %}{% endcapture %}
    {{ reconstruction_4 | markdownify }}
</div>